{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon">
        <title>AskMe</title>
    </head>
    <body>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <div>
                    <a href="{% url 'index' %}" class="navbar-brand fs-2">
                        <img src="{% static '/img/favicon-32x32.png' %}">
                        AskMe
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse fs-5" id="navbarContent">
                    <ul class="general-section navbar-nav col-4">
                        <li class="nav-item">
                            <a href="{% url 'new' %}" class="nav-link">New questions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'hot' %}" class="nav-link">Hot questions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'ask' %}" class="nav-link">Ask</a>
                        </li>
                    </ul>
                    <form action="" class="d-flex justify-content-center">
                        <input type="search" class="search-input form-control mb-auto mr-200" placeholder="Questions, tags, users">
                        <button class="search-button btn btn-outline-warning">Search</button>
                    </form>
                    <ul class="user-section navbar-nav mb-auto justify-content-end col-5">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="profile.html" class="nav-link">{{ user.username }}
                                    <img src="{{ user.profile_pic }}" width="31" height="31">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link">sign out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link">sign in</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'signup' %}" class="nav-link">sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="flex-shrink-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-3">
                        {% include 'components/popular-tags.html' %}
                        <hr width="89%">
                        {% include 'components/best-members.html' %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-dark text-center position-relative">
            <p class="text-secondary fs-5">2023</p>
        </footer>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
    </body>
</html>