{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <form class="form-signup" method="POST" action="{% url 'login' %}">
        <div class="col-md-8 container-fluid">
            <h2>Authorization</h2>
            {% if error %}
                <h3 style="color: red">Authentication error, check your input and try again</h3>
            {% endif %}
            {% csrf_token %}
            {% bootstrap_form login_form %}
            {% bootstrap_button button_type="submit" button_class="btn btn-success" content="Enter!" %}
        </div>
    </form>
{% endblock %}