{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="col-11 container-fluid">
        <h2 class="text-center">User profile</h2>
        {% if owner %}
            <form method="POST" action="{% url 'profile' username=user.username %}">
                {% csrf_token %}
                {% bootstrap_form profile_form %}
                {% bootstrap_button button_type="submit" button_class="btn btn-success mb-5" content="Apply" %}
            </form>
        {% else %}
            <div class="profile container-fluid">
                <div class="row">
                    <div class="col-6">
                        <img class="profile_pic" src="{{ profile.profile_pic.url }}" width="350" height="350" alt="profile-pic">
                        <div class="container">
                            <span class="mt-5 fs-2" style="color: orange">Username:</span>
                            <span class="mt-5 fs-2">{{ profile.user.username }}</span>
                        </div>
                    </div>
                    <div class="col-6" class="justify-content-end">
                        <div class="list-group list-group-flush fs-4 profile_list">
                            <div class="list-group-item profile_row">First name:</div>
                            <div class="list-group-item">{{ profile.user.first_name }}</div>
                            <div class="list-group-item profile_row">Last name:</div>
                            <div class="list-group-item">{{ profile.user.last_name }}</div>
                            <div class="list-group-item profile_row">Rating:</div>
                            <div class="list-group-item">{{ profile.rating }}</div>
                            <div class="list-group-item profile_row">Questions:</div>
                            <div class="list-group-item">{{ profile.question_count }}</div>
                            <div class="list-group-item profile_row">Answers:</div>
                            <div class="list-group-item">{{ profile.answer_count }}</div>
                            <div class="list-group-item profile_row">Correct answers:</div>
                            <div class="list-group-item">{{ profile.correct_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}