{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <h2 class="text-center">Question</h2>
    {% include 'components/question-item.html' %}
    <h2 class="text-center">Answers</h2>
    {% if not objects %}
        <h4 class="text-center">No answers for this question</h3>
    {% else %}
        {% for answer in objects %}
            {% include 'components/answer-item.html' %}
        {% endfor %}
        {% if objects.has_other_pages %}
            {% include 'components/pagination.html' %}
        {% endif %}
    {% endif %}
    <div class="col-9 container-fluid">
        <form method="POST" action="{% url 'question' question_id=question.id %}">
            <div class="answer row">
                <h2 class="text-center">Your Answer</h2>
                {% csrf_token %}
                {% bootstrap_form answer_form %}
            </div>
            {% bootstrap_button button_type="submit" button_class="btn btn-success mb-5" content="Answer!" %}
        </form>
    </div>
    <script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
    <script type="text/javascript">
        const centrifuge = new Centrifuge("{{ centrifugo.ws_url }}", {
        token: "{{ centrifugo.token }}"
        });

        centrifuge.on('connecting', function (ctx) {
        console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
        }).on('connected', function (ctx) {
        console.log(`connected over ${ctx.transport}`);
        }).on('disconnected', function (ctx) {
        console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
        }).connect();

        const sub = centrifuge.newSubscription("{{ centrifugo.channel }}");

        sub.on('publication', function (ctx) {
            console.log(ctx);
        }).on('subscribing', function (ctx) {
        console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
        }).on('subscribed', function (ctx) {
        console.log('subscribed', ctx);
        }).on('unsubscribed', function (ctx) {
        console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
        }).subscribe();
    </script>
{% endblock %}