{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<form class="form-signup" method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    <div class="col-md-8 container-fluid">
        <h2>Registration</h2>
        <p class="fs-4">Create your new account and enjoy our website!</p>
        {% csrf_token %}
        {% bootstrap_form registration_form %}
        {% bootstrap_button button_type="submit" button_class="btn btn-success" content="Create account!" %}
    </div>
</form>

{% endblock %}