upstream askme_backend {
        server 127.0.0.1:8080;
        keepalive_timeout 120;
}

server {
        listen 80;
        server_name 127.0.0.1;

        access_log /home/artem/Desktop/VK_WEB/Web/vk-web/askme/nginx/askme_access.log;
        error_log /home/artem/Desktop/VK_WEB/Web/vk-web/askme/nginx/askme_error.log;

        location ~ /static/ {
                autoindex on;
                root /var/www/askme/;
        }

        location ~ /uploads/ {
                autoindex on;
                root /home/artem/Desktop/VK_WEB/Web/vk-web/askme/;
        }

        location / {
                proxy_http_version 1.1;
                proxy_pass http://askme_backend;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_cache askmecache;
                proxy_cache_valid 200 302 10m;
                proxy_cache_valid 404 1m; 
        }
}

