body {
    background-color: rgb(243, 236, 200);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: auto;
}

.search-button, .search-input {
    border-radius: 30px;
}

main {
    margin-top: 80px;
}

.tags > .row {
    text-decoration: none;
    font-weight: 600;
}

section {
    border-radius: 20px;
    border-color: brown;
    text-decoration: none;
    border: 3px solid black;
    margin-right: 50px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
    border: 3px solid black;
}

textarea {
    resize: none;
    border-radius: 10px;
    border: 3px solid black;
}

.question-user-avatar {
    max-width: 120px;
    max-height: 120px;
    margin-top: 5px;
}

.answer-user-avatar {
    max-width: 100px;
    max-height: 100px;
    margin-top: 5px;
}

.profile_pic, .answer-user-avatar, .question-user-avatar {
    border: 2px solid black;
    border-radius: 20px;
}

.question-row, .answer-row {
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 15px;
}

.question-tags {
    margin-left: 500px;
}

.correct-answer-icon {
    max-width: 40px;
    max-height: 40px;
}

.profile_row {
    color: rgb(248, 165, 69);
    background-color: rgb(255, 245, 232);
}

.profile_list {
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 20px;
}