{% load static %}

<div class="answer col-9 container-fluid">
    <div class="answer-row row bg-light">
        <div class="col-2">
            {% if answer.author.profile_pic %}
                <img src="{{ answer.author.profile_pic.url }}" class="answer-user-avatar">
            {% else %}
                <img src="{% static '/img/default-avatar.png' %}" class="answer-user-avatar">
            {% endif %}
            <h5><a href="{% url 'profile' username=answer.author.user.username %}" class="text-decoration-none">{{ answer.author }}</a></h5>
            <h5>{{ answer.time_created }}</h5>
        </div>
        <div class="col-9 fs-5">
            <p>{{ answer.content }}</p>
        </div>
        <div class="col-1">
            {% if answer.correct %}
                <img src="{% static '/img/correct.png' %}" class="correct-answer-icon mt-2">
            {% elif owner %}
                <div class="not-correct">
                    {% csrf_token %}
                    <input type="button" value="correct" class="correct btn btn-outline-success btn-sm mt-3 rounded-5" data-id="{{ answer.id }}">
                </div>
            {% endif %}
            <div class="answer-like-section col-1">
                {% csrf_token %}
                <input type="button" value="ⴷ" class="like btn btn-outline-success btn-sm mt-3 rounded-5" name="like" data-id="{{ answer.id }}">
                <div class="rating">{{ answer.rating }}</div>
                <input type="button" value="V" class="dislike btn btn-outline-danger btn-sm rounded-5" name="dislike" data-id="{{ answer.id }}">
            </div>
        </div>
    </div>
</div>