<section class="users mt-5 bg-light">
    <h3 style="color: orange;">Best Members</h3>
    {% for profile in best_members %}
        <div class="row">
            <div class="col-6">
                <a href="{% url 'profile' username=profile.user.username %}" class="list-group-item list-group-item-action fs-4">{{ profile.user.username }}</a>
            </div>
            <div class="col-6">
                <h4>{{ profile.rating }}</h4>
            </div>
        </div>
    {% endfor %}
</section>