<div class="col-9 container-fluid text-end my-3">
    <nav aria-label="page-navigation">
        <ul class="pagination">

            {% comment %} 
            {% block pagination %}
    {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a
                href="{% url 'terms-by-page' page_number %}"
                class="{% if page_number == page_obj.number %}current{% endif %}"
            >
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
            {% endcomment %}

            {% if objects.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ objects.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page_num in objects.adjusted_elided_pages %}
            {% if objects.number == page_num %}
            <li class="page-item active" aria-current="page">
                <a class="page-link text-dark" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% comment %} {% endcomment %}

            {% if objects.has_next %}
            <li class="page-item">
                <a class="page-link text-dark" href="?page={{ objects.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>