{% block tags %}

<section class="tags mt-5 mb-5 bg-light">
    <h3>Most Popular Tags</h3>
    <div class="row">
        <div class="col-4 fs-3">
            <a href="" class="text-danger text-decoration-none">tag1</a>
        </div>
        <div class="col-4 fs-3">
            <a href="" class="text-black text-decoration-none">tag2</a>
        </div>
        <div class="col-4 fs-3">
            <a href="" class="text-primapy text-decoration-none">tag3</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 fs-3">
            <a href="" class="text-primary text-decoration-none">tag4</a>
        </div>
        <div class="col-6 fs-3">
            <a href="" class="text-success text-decoration-none">tag5</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4 fs-3">
            <a href="" class="text-warning text-decoration-none">tag6</a>
        </div>
        <div class="col-4 fs-3">
            <a href="" class="text-info text-decoration-none">tag7</a>
        </div>
        <div class="col-4 fs-3">
            <a href="" class="text-secondary text-decoration-none">tag8</a>
        </div>
    </div>
</section>

{% endblock %}
