{% load static %}

<div class="col-10 container-fluid">
    <div class="question-row row bg-light">
        <div class="col-2">
            <img src="{% static '/img/default-avatar.png' %}" class="question-user-avatar">
            <h5><a href="" class="text-decoration-none">{{ question.user }}</a></h5>
            <h5>{{ question.time_created }}</h5>
        </div>
        <div class="col-10 fs-5">
            <a href="{% url 'question' question_id=question.id %}" class="text-danger text-decoration-none">
                <h3>{{ question.title }}</h3>
            </a>
            <p>{{ question.content }}</p>
            <div class="row">
                <div class="col-6">
                    <input type="button" value="+rep" class="btn btn-outline-success btn-sm m-2">
                    <input type="button" value="-rep" class="btn btn-outline-danger btn-sm">
                    <span>{{ question.rating }}</span>
                </div>
                <div class="col-6">
                        {% for tag in question.tags.all %}
                        <a href="">{{ tag }}</a>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
