{% load static %}

<div class="col-10 container-fluid">
    <div class="question-row row bg-light">
        <div class="col-2">
            {% if question.author.profile_pic %}
                <img src="{{ question.author.profile_pic.url }}" class="question-user-avatar">
            {% else %}
                <img src="{% static '/img/default-avatar.png' %}" class="question-user-avatar">
            {% endif %}
            <h5><a href="{% url 'profile' username=question.author.user.username %}" class="text-decoration-none">{{ question.author }}</a></h5>
            <h5>{{ question.time_created }}</h5>
        </div>
        <div class="col-9 fs-5">
            <a href="{% url 'question' question_id=question.id %}" class="text-danger text-decoration-none">
                <h3>{{ question.title }}</h3>
            </a>
            <p>{{ question.content }}</p>
            <div class="row position-bottom fs-6">
                <div class="col-12 text-end">
                    {% for tag in question.tags.all %}
                        {% if tag.exists %}
                            <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-1">
            <input type="button" value="+rep" class="btn btn-outline-success btn-sm mt-5">
            <div>{{ question.rating }}</div>
            <input type="button" value="-rep" class="btn btn-outline-danger btn-sm">
        </div>
    </div>
</div>
